body {
    background-color: #3d7f8c;
}
h1 {
    color: #EADF1C;
    margin:center;
    text-align: center;
    font-size: 48px;
}
h2 {
    color: #EADF1C;
    margin:center;
    text-align: center;
    font-size: 24px;
}
h3 {
    color: #FFFFFF;
    margin:center;
    text-align: center;
    font-size: 20px;
}
p {
    color: #FFFFFF;
    margin:center;
    text-align: center;
    font-size: 30px;
}
table {
    color: #FFFFFF;
    margin:center;
    text-align: center;
    font-size: 30px;

}